include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include paypalstandardpayments *.css
recursive-include paypalstandardpayments *.csv
recursive-include paypalstandardpayments *.html
recursive-include paypalstandardpayments *.ico
recursive-include paypalstandardpayments *.js
recursive-include paypalstandardpayments *.json
recursive-include paypalstandardpayments *.md
recursive-include paypalstandardpayments *.png
recursive-include paypalstandardpayments *.py
recursive-include paypalstandardpayments *.svg
recursive-include paypalstandardpayments *.txt
recursive-exclude paypalstandardpayments *.pyc